categories:
  - code
  - commonsense
  - general
  - math
  - science

dataset_category_mapping:
  gsm8k: math
  openbookqa: science
  arc_easy: science
  arc_challenge: science
  trivia_qa: general
  commonsense_qa: commonsense
  humaneval: code
  mbpp: code
